@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&family=Rubik:wght@400;700&display=swap');

body {
    font-family: Rubik, sans-serif;
    font-size: 18px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 100px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}