@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&family=Rubik:wght@400;700&display=swap');

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: black; 
}
#image {
   max-width: 100%;
   height:auto; 
background-image: url("../images/greenvalley.jpg");background-repeat: no-repeat  
    background-size: 100%;
    
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 250px;
    height: 300px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

img{
    margin-left: auto;
    margin-right: auto;
    display:block;
    border:5px solid black;
}

#image {
    max-width: 100%;
    height:auto; 
 background-image: url("../images/cornfield.jpg");background-repeat: no-repeat  
     background-size: 100%;
     
 }

 body#food.html {background-image: url(cornfield.jpg);}